<h1>
  home
</h1>
<a href="/login">login</a>
<a href="/signup">signup</a>
<a href="/logout">logout</a>

{{#if user}}
  <h3>
    Welcome
    {{user.username}}, you are logged in!
  </h3>
{{/if}}
{{#unless user}}
  <h3>please log in</h3>
{{/unless}}