<h1>Login Page</h1>
<a href="/">home</a>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input id="username" name="username" placeholder="username" type="text" />
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <button>Log In</button>
</form>
{{#if error}}
  <p>{{error}}</p>
{{/if}}